/*CONFIGURAÇÕES GERAIS*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
      font-family: "Mulish", sans-serif;
      font-size: 62.5%;
}
body {
    
    background-color: #333;
    line-height: 2rem;
}

/*ESTILO BOTÕES*/
button{ 
      
    color: white;    
    text-transform: uppercase  ;
    font-family: "Mulish", sans-serif;
    background: #cf3119;
    padding: 1.5rem;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: .8rem;
    cursor: pointer;     
}  
button:hover {
  background: #972210;
}

/*HEADER FIXO*/
.pagefix{       
    position: absolute; 
    width: 41rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-image: url(./assets/05.png);
    background-position: left;
    background-size: 3rem;
    padding-bottom: 2rem;
    padding-left:4.5rem;

}
header { height: 5rem;
      z-index: 4;
      padding: .5rem;
      background-color: #333; 
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    }  
.pagefix a { 
        font-size: 1.5rem;
        color: #f0f0f0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
        text-decoration: none;
          
      }
.pagefix ul li  { 
        margin-right: 1.5rem;
        position: center;
         display: inline;
          
      }

/*CAIXA 1 BEM VINDO-WALLPAPPER*/
    .box {  /*imagem de fundo esta aqui*/   
      padding: 2rem;
      display: flex;
      flex-wrap: wrap; 
      background-image: url(./assets/unive.avif);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 41rem;
      height: 58rem;
    }
    .imagem-secundaria {
      z-index: 1;
        margin-left: 14.5rem;
        margin-top: 40.69rem;
        position: absolute;
        width: 200px;
        height: 200px;
        background-image: url('./assets/FUNDO\ INICIO.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.7;
        z-index: 0; /* Atrás do texto, mas acima do fundo */
    }
    .box h1{
          font-size: 3.9rem;
          line-height:3.4rem;
          color:#cf3119;          font-family: "Mulish", sans-serif;

          margin-top: 5rem;
          margin-bottom: 2.5rem;
    }
    .box a {
        font-weight: normal;
        font-size: 1.8rem;
        color: #f1f7ef; 
    }
    .one-button{
      position: absolute; 
      z-index: 1;
        padding-top: 2rem;
        margin-left: 20%;
     }

/* BOX2- NOSSO TRABALHO */
  .container-2 {
    background-color: #cf311917;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: solid #cf3119;
    border-radius: .8rem;
    padding: 2.5rem;
    width: 41.2rem;
    height: 30rem;
  }
  .container-2 h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
    font-size: 4rem; 
    color:  #f7f0ef; 
  }
  .container-2 h2{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
    margin-top: 3rem;
    text-align: left;
    font-weight: 600;
    font-size: 2rem;
    color: #cf3119;
   
  }
  .two-button {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
  }
/* GALERIA 1 GRID 4:1 */
.gallery{      
  overflow: scroll; 
  width: 40rem;
  padding: .5rem;
  margin-top: 3.2rem;
  margin-left: .8rem;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  gap: 1.2rem;
 }
.item{ /*DESENHO LINHA CAIXA DOS  4:1 GRID*/
  cursor: pointer;
  width: 28.5rem; 
  height: 50rem;
  border: solid #cf3119;
  padding: 1rem;
  text-align: left ;
  background-color: #cf311917;
  border-radius:  .8rem;
  overflow: hidden; 
  }
  .item img{ /* confg imagem grid*/
    filter: invert(100%);
    width: 10rem; /* Largura */
    height:  10rem; /* Altura igual à largura */
    object-fit: cover; /* Ajusta a imagem sem distorcer */
    margin: 2.5rem 7rem;

  }
  .item h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
    text-align: center;
    font-weight: bold;
    font-size: 2.3rem;
    color: #cf3119;
    gap: 1.5rem;
    margin-bottom:3.5rem;
  }
.item span {
margin-bottom: 22.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
  font-size: 1.7rem;
  color: #f1f7ef;
  gap: 5px;
  }
  /*HOVERS*/
  .item:hover {
    background-color: #cf3119;        
  }
  .item:hover h1 {
    color: rgb(17, 15, 13);
  }
  .item:hover span{
    color:rgb(17, 15, 13);
  }
  .item:hover h2 {
    color: rgb(17, 15, 13);
  }
.item:hover img{ /* confg imagem grid*/
  filter: invert(00%); }


/*GRID 3:1- DIVIDIDO EM 2 PARTES */
.service  {  /* area onde esta o grid*/
  width: 41rem;
  height:auto;
  margin-top: 2.5rem;
  padding: .5rem;
  margin: solid green;
 } 
   .item-2{   /*desenho da caixa do grid*/
    margin-bottom: 2rem;
    margin-left: .5rem;
    margin-right: .5rem;
    cursor: pointer;
    width: 100%vhrem; 
    height: 40rem;
    border: solid #cf3119;
    padding: 1rem;
    background-color: #cf311917;
    border-radius:  .8rem;

  }
   /*CONFIGS  PRIMEIRA LINHA GRID*/
.image-1 img{
  display: flex;
  margin-left: 10.5rem;
  margin-bottom: 1.5rem;
  filter: invert(100%);
  width: 13rem;/* Largura */
  height:  13rem;/ /* Altura igual à largura */
  
}
.item-2 h1{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
  font-size: 2.5rem;
  color: #cf3119;
  text-align: center;
  margin-bottom: 1.5rem;
   } 
   .item-2 p {
    margin-bottom: 1.5rem;

    font-size: 1.8rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
    text-align: center;
     color:  #f7f0ef;
    }
 .details ul{
  margin-top: 4rem;
  font-size: 1.8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
  color:  #f7f0ef;
  margin-left: 2.5rem;
  padding-left: 4rem;
  list-style-type:disc;
 }
  /*CONFIGS  SEGUNDA LINHA GRID*/
 .item-3 {  /*config desenho caixa*/  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
  margin-bottom: 2rem;
  margin-left: .5rem;
  margin-right: .5rem;
  cursor: pointer;
  width: 100%vh; 
  height: 40rem;
  border: solid #cf3119;
  background-color: #cf311917;
  border-radius:  .8rem;
 }
 .item-3 img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
.grid3 h1 {
  display: flex;
  position: relative;
  margin-top: -5rem;
  padding-bottom: 5rem;
  margin-left:  1.5rem;
  font-size: 3.5rem;
  color:  #cf3119 ;
}
    /*HOVERS*/  
    /*grid 3:1 linha 1*/
              .image-1:hover img{
                  filter: invert(00%);
                  
                }
              .item-2:hover {
                background-color: #cf3119;        
              }
              .item-2:hover h1 {
                color: rgb(17, 15, 13);
              }
              .item-2:hover p{
                color:rgb(17, 15, 13);
              }
              .item-2:hover ul{
                color:rgb(17, 15, 13);
              }
          /*container 3:1 só fotos*/
          .item-3 img:hover { 
            transition: 0.3s;
            filter: hue-rotate(35deg) contrast(50%);

          }
          .item-3:hover h1{  /*config desenho caixa*/
          color: #972210;
          transition-delay: 0.8ms;
          font-size: 4rem;
          }

    /*BOX PRA QUEM*/
      .p-quem{  /*config area caixa*/
        width: 41rem; 
        height: auto;
        background-color: #333 ;
        border-radius:  .8rem;
        display: block;
        gap: 1Rem;
        padding: 1rem;
        margin-bottom: 1rem;
        }
        .pq1 h1{
          line-height: 6rem;
          margin-top: 2rem;
          margin-bottom:6rem;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
          font-size: 7.5rem;
          color: #cf3119;;
        }
      .pq1 h2{
        line-height: 3rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
        font-size: 3.5rem;
        color: #cf3119;;
      }
      .pq1 p, a{
        text-shadow: 2px 2px 4px #cf311981;
        color: #f7f0ef;
       font-size: 1.8rem ;
       margin-bottom: 2rem;
      }
      .pq1 button{
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
        margin-left: 23%;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
  
      /*PORTIFÓLIO-*/  
    .port-cont {
      display: block;
      border-top: solid #cf3119;
      width: 100%vh; 
      height: auto;
      margin-left: .5rem;
      margin-top: 8rem;
      background-color: #333 ;
        padding: 1.6rem; 
      }
    .portbox p {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
      margin-top: 1.8rem;
      color: #f7f0ef;
      font-size: 1.8rem ; 
    }
    .portbox h1{
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
      margin-top: 4rem;
      font-size: 3.5rem;
      color: #cf3119;;
    }


  /* GALERIA HORIZ*/

  .gallery-roll {
    overflow-x: scroll;
    padding: .5rem;
    width: 100%vh; 
    height: 80rem;
    display: flex;
    align-items: center;  
    gap: .5rem; /* Espaçamento entre os boxes */
    white-space: nowrap; /* Impede a quebra de linha */
    margin-bottom: 1rem;
}
  .gal-hor{
  
    box-sizing: border-box;
    display: flex;
    cursor: grab; /* Mostra que o elemento pode ser arrastado */
  }
.gallery-box {
  margin: 55px 15px 15px 15px;
  flex: 0 0 auto; /* Impede que as caixas encolham ou cresçam */
  width: 37rem; 
  height: 65rem;
  background-color: #cf3119;
  border:solid #972210 ;
  align-items: center;
  border-radius: .5rem;
  
  
} 
.gallery-box img {
      margin-left: 2.4rem;
      margin-top: 1rem;   
      margin-bottom: 2rem;     
      border-radius: .5rem;
      width: 30rem;
      height: 23rem;
      /* object-fit: cover ; */
}
.gallery-box h1 {
  margin-top: 2.5rem;;
  margin-left: 1.5rem;
  margin-bottom: 3rem;
  color: #f7f0ef;
  font-size: 3rem;
}
.gallery-box h2 {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  color: #101823;
  font-size: 2.0rem;
}
.gallery-box h3 {
  line-height: 3.0rem;
  padding: .5rem;
 margin-top: 1.5rem;
  margin-left: .5rem;
  margin-bottom: 1.5rem;
  color: #101823;
  font-size: 2.5rem;

} 
.gallery-box p {
  margin-top: 1.5rem;
  margin-left: .5rem;
  margin-right: 3rem;
  text-align: left;
  white-space: normal;
  color: #f7f0ef;
  font-size: 1.8rem;
} 


 /*DEPOIMENTOS -*/

       /*container geral*/
       .coments {
        border-top: solid #972210;
        width: 100%vh; 
        height: 150rem;
        background-color: #333;
        gap: 1.5rem; /* Espaçamento entre os boxes */
        white-space: nowrap; /* Impede a quebra de linha */
        border-radius: 8px;
        margin-left: .5px;
       }
  /*caixa 1 com botao*/
  .depobox p {
    white-space: normal;    
    margin-left: 2.5rem;    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
    margin-top: 2rem;
    color: #eff7f0;
    font-size: 2rem; 
  }
  .depobox h1{   
    white-space: normal;  
    line-height: 4rem;  
    padding-top: 4rem;
    margin-left: 4.5rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
    margin-top: 4rem;  
    align-items: center;
    font-size: 3.5rem;
    color: #cf3119;;
  }
          /*galeria dos comentarios*/
        .depogrid{
          margin-top: 3rem;
          border-top: solid #972210;
          overflow: scroll;
          display: grid;
          width: 100%vh;
          height: 80rem;
          grid-template-columns: repeat(4, 1fr); /* 2 colunas com largura igual */
        }
        .gallery-depo { 
          margin-top: 3rem;
          flex: 0 0 auto; /* Impede que as caixas encolham ou cresçam */
          width: 30rem; 
          height: 70rem;
          margin-right: 2rem;
          background-color: #cf3119;
          border:solid #972210 ;
          align-items: center;
          border-radius: .8rem;}
          
        .img1 img {
          
          filter:invert(100%);
          margin: 1rem auto -2.5rem 2.5rem;
          width: 12rem;
          height: auto;
        }
         
       .gallery-depo p {
          line-height: 2rem;
           margin-left: 1.5rem;
           margin-right: 1.5rem;
           margin-bottom: 5.5rem;
            text-align: left;
            white-space: normal;
            color: #f7f0ef; 
            font-size: 1.5rem;
          } 
      
          .img2 img {
            object-fit:cover;
            border-radius: 50%;
            margin-left: 1.5rem;
            width: 6rem;
            height: 6rem;
          }
        .gallery-depo  h1 {
          white-space: normal;
          display: block;
          margin-left: 8.0rem;
          margin-top: -7.5rem;
          color: #f0f7ef;
          font-size: 1.8rem;
          padding-bottom: 4.5rem;
        }
        .gallery-depo  h2 {
          white-space: normal;
          margin-left: 8.0rem;
          margin-top: -4.5rem;
          padding-bottom: 2.5rem;
          color: #101823;
          font-size: 1.5rem;
        }

        .gallery-depo a {
          display: block;
          margin-left: 1.5rem;
          margin-right: 1.0rem;
          align-items: center;
          white-space: normal;
          color: #f7f0ef; 
          font-size: 1.5rem;
         } 
         .talk2{ width: 100%vh;
          height: 40rem;
          border: solid #cf3119;
          margin-top: 5rem;
           }
         
           .talk2 button{
             text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
              margin-left: 10.5rem;
              margin-top: 2rem;
             }
      
@media (min-width:700px) {

  header {
    width: 100%;
    position: fixed; 
    height: 6rem;
    background-color: #333; 
    padding: .5rem 5rem ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  } 
  .pagefix{
    width: 100%;
    padding-top: 2rem;
    height: 6rem; }

  header ul li { 
    white-space: nowrap;
    padding: 1rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);

  }

  .box {
    background-size: cover;
        width: 100%;
        height: 50rem;
  }
  .imagem-secundaria { 
    filter: hue-rotate(1098deg) grayscale(15%) ;       
    margin-left: 65rem;
    margin-top: 10rem;
    width: 50rem;
    height: 50rem;
  }
  .box h1{
width: 50rem;
  }
  .box a{
    width: 7rem;
  }
  .container-2 {
    width: 100%;
    height: 25rem;
  }
  .two-button {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: 5rem;  }
.gallery {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.service{
overflow: auto;
width: 120rem;
height: 95rem;
margin-top: 6.2rem;
margin-bottom:3.2rem ;  
display: grid;
grid-template-columns:repeat(3, 1fr);
}
.item-2{     
  margin-bottom: 1rem;
}
.p-quem{
  border: solid #972210;
  padding: 2rem;
  width: 120rem;

}
.depogrid {
  overflow-y: hidden;}
.talk2{    width: 120rem;
  height: 30rem;}

  .talk2 button{  

    display: flex;
margin-left: 40%;    margin-top: 5rem;  
  }
}

